*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 300px;
}
#sticky{
    width: 300px;
    background-color: green;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
}
body{
    height: 150vh;
}